form {
    width: 100%;
  }
  
  /* .loginBox {
    width: 50%;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translate(-50%, 20%);
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.4);
  } */
  
  .signUpSubmit {
    margin: 25px 0 15px 0;
  }
  
  
  
  @media screen and (max-width: 550px) {
    .loginBox {
      width: 85%;
    }
  }
  