form {
    width: 100%;
  }
  
  /* .loginBox {
    width: 50%;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translate(-50%, 20%);
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.4);
  } */
  
  .signUpSubmit {
    margin: 25px 0 15px 0;
  }
  
  
  
  @media screen and (max-width: 550px) {
    .loginBox {
      width: 85%;
    }
  }
  
  /* Footer */

  .footer__social-item {
    background-color: #fff;
  }
  
  .list__primary-text {
    color: #fff;
  }
  
  .footer__disclaimer {
    padding-bottom: 0;
  }
  
  .footer__disclaimer-logo {
    margin-top: 0;
  }
  
  .footer__disclaimer-logo-container {
    margin-top: 0;
  }
  
  .footer__disclaimer {
    padding: 32px 0;
  }
  
  .footer__disclaimer-logo,
  .footer__disclaimer-logo-container {
    margin: 0 auto 1rem;
  }
  
  .footer--disclaimer-three-columns.footer .footer__disclaimer {
    padding: 32px 0;
  }
  